<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380878671688-stc2lr4kb84c7237f543umj8lpbf5dg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380878671688-stc2lr4kb84c7237f543umj8lpbf5dg6</string>
	<key>API_KEY</key>
	<string>AIzaSyDtkoLNg2H1ZL8Iq2mBvLuNaDaSuRoTve8</string>
	<key>GCM_SENDER_ID</key>
	<string>380878671688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tomodoko</string>
	<key>PROJECT_ID</key>
	<string>tomodoko-m-9f826</string>
	<key>STORAGE_BUCKET</key>
	<string>tomodoko-m-9f826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380878671688:ios:931a524d4e3e00c0f4ad7d</string>
</dict>
</plist>